In [2]:
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
with open("miasta.html") as miasta:
    soup = BeautifulSoup(miasta, "html.parser")

In [4]:
role = soup.find_all("tr", {"role":"row"})

In [5]:
len(role)

965

In [6]:
miasta = soup.select("tr", {"role":"row"})

In [7]:
lista_miast = []
for i in range(1, len(role)):
    dict = {"miasto" : role[i].find_all("a")[0].text.strip().upper(), "wojewodztwo" : role[i].find_all("a")[2].text.strip().upper()}
    lista_miast.append(dict)

len(lista_miast)

964

In [8]:
for i in lista_miast:
    if(i.get("WARSZAWA")):
        print("DUPA")

In [9]:
print(next(x for x in lista_miast if x["miasto"] == "WARSZAWA"))

{'miasto': 'WARSZAWA', 'wojewodztwo': 'MAZOWIECKIE'}

In [10]:
df = pd.DataFrame(lista_miast)
df

                   miasto         wojewodztwo
0    KAMIENIEC ZĄBKOWICKI        DOLNOŚLĄSKIE
1                    WLEŃ        DOLNOŚLĄSKIE
2               LUBOMIERZ        DOLNOŚLĄSKIE
3                 PRUSICE        DOLNOŚLĄSKIE
4                  WIĄZÓW        DOLNOŚLĄSKIE
..                    ...                 ...
959           ŚWINOUJŚCIE  ZACHODNIOPOMORSKIE
960             KOŁOBRZEG  ZACHODNIOPOMORSKIE
961              STARGARD  ZACHODNIOPOMORSKIE
962              KOSZALIN  ZACHODNIOPOMORSKIE
963              SZCZECIN  ZACHODNIOPOMORSKIE

[964 rows x 2 columns]

In [13]:
df['ilosc'] = 0
df

                   miasto         wojewodztwo  ilosc
0    KAMIENIEC ZĄBKOWICKI        DOLNOŚLĄSKIE      0
1                    WLEŃ        DOLNOŚLĄSKIE      0
2               LUBOMIERZ        DOLNOŚLĄSKIE      0
3                 PRUSICE        DOLNOŚLĄSKIE      0
4                  WIĄZÓW        DOLNOŚLĄSKIE      0
..                    ...                 ...    ...
959           ŚWINOUJŚCIE  ZACHODNIOPOMORSKIE      0
960             KOŁOBRZEG  ZACHODNIOPOMORSKIE      0
961              STARGARD  ZACHODNIOPOMORSKIE      0
962              KOSZALIN  ZACHODNIOPOMORSKIE      0
963              SZCZECIN  ZACHODNIOPOMORSKIE      0

[964 rows x 3 columns]